@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/utils.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.service-preview-card {
	@extend %flex-column;
	@extend %base-card-styles;

	&-wrapper {
		height: 100%;
		container: service-preview-card / inline-size;
	}

	&:has(img) {
		img {
			width: clamp(40px, 6vw, 60px);
			height: clamp(40px, 6vw, 60px);
			aspect-ratio: 1 / 1;
			object-fit: contain;
		}

		.service-preview-card-header {
			// @extend %flex-column;
			// gap: 5px;
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 12px;
			align-items: center;

			// @include container-up("service-preview-card", 560px) {
			// 	display: grid;
			// 	grid-template-columns: auto 1fr;
			// 	gap: 12px;
			// 	align-items: center;
			// }
		}
	}

	&:has(ul) ul {
		@extend %flex-column;
		gap: 6px;
		margin: 0;
		padding-left: 28px;

		li::marker,
		li > a {
			color: var(--secondary);
			@extend %hover-opacity;
		}

		@include container-up("service-preview-card", 560px) {
			display: block;
			columns: 200px;
			gap: 38px;

			& > li {
				page-break-inside: avoid;
				break-inside: avoid;
				margin-bottom: 10px;
			}
		}
	}
}
