
include ../../components/blocks/tizzers-block/tizzers-block
section.hero
  .container
    .hero__grid
      .hero__grid-item.hero__grid-item--top-banner
        include ../../components/_ui/sliders/top-banner/top-banner
      .hero__grid-item.hero__grid-item--side
        include ../../components/_ui/sliders/side-slider/side-slider

      .hero__grid-item.hero__grid-item--tizzers
        +tizzers-block({
          items: [
            {
              img: 'tizzer-img-1',
              text: 'Гарантия пять лет'
            },
            {
              img: 'tizzer-img-2',
              text: 'Небольшой тизер в две строки'
            },
            {
              img: 'tizzer-img-3',
              text: 'Еще какой-то тизер'
            },
            {
              img: 'tizzer-img-4',
              text: 'Еще какой-то тизер'
            },
          ]
        })

  
    
      
        

