mixin top-menu(data)
  nav.top-menu(class= data.cls ? data.cls : null)
    ul
      each item in data
        li(class= item.inner ? 'dropdown-menu' : null)
          a(href= item.link)!= item.title
            if item.inner
              .top-menu-inner-opener
                svg(width='12' height='12' role='img' aria-hidden='true' focusable='false')
                  use(xlink:href='./assets/sprite.svg#icon-menu-arrow')
          if item.inner
            .top-menu__inner-wrapper
              ul
                each inner in item.inner
                  li
                    span.top-menu-inner-opener!= inner.title
                      if inner.inner
                        svg(width='12' height='12' role='img' aria-hidden='true' focusable='false')
                          use(xlink:href='./assets/sprite.svg#icon-menu-arrow')
                    if inner.inner
                      .top-menu__inner-wrapper
                        ul
                          each item in inner.inner
                            li
                              a(href= item.link)!= item.title 
