extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'workflow'
  - sectionContainerClass = ''
  - sectionHeadline = 'Этапы работы'
  - sectionTitle = 'Как проходит процедура'
  - sectionText  = ''
block content
  ul.workflow__list
    each item in [1,2,3,4]
      li.workflow__list-item
        .workflow__list-item-header
          img(src="./assets/img/tooth-img.svg" alt="" width="40" height="40")
          span.base-subtitle!= `${item} этап`
        p.base-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio in maxime earum molestiae consequatur ducimus eligendi officiis veritatis animi ab magnam tempore doloribus delectus cupiditate, eaque exercitationem deserunt nisi mollitia?