@use "@scss-root/_mixins/container-queries" as *;

.staff-reviews {
  .swiper {
    margin-bottom: 8px;

    &:has(.swiper-pagination) {
      padding-bottom: 30px;
    }

    &-slide {
      height: auto;
    }
  }

  .review-card {
    container: review-card-container / inline-size;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: clamp(10px, 3vw, 20px) clamp(16px, 3.2vw, 30px);
    height: 100%;
    background-color: rgba(18, 91, 178, 0.1);
    border-radius: var(--base-border-radius);

    &-header {
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include container-up("review-card-container", 350px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        align-items: center;

        img {
          grid-column: 2/3;
          grid-row: 1/-1;
          justify-self: end;
        }
      }
    }

    &__rate {
      display: flex;
      gap: 6px;

      .rate-item {
        fill: var(--muted);

        &.active {
          fill: #faba47;
        }
      }
    }

    &__content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      button {
        padding: 5px 0;
        font-weight: 600;
        font-size: 14px;
        background-color: transparent;
        border: none;
        color: var(--secondary);
        margin-top: auto;
      }
    }
  }

  .main-btn {
    margin: 0 auto;
    color: var(--white) !important;
    text-decoration: none;
  }
}
