@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.faq-preview {
	position: relative;
	z-index: 2;
	container: faq-preview / inline-size;

	@include container-up("faq-preview", $mobile-width) {
		& > .container {
			position: relative;

			&::after {
				position: absolute;
				top: -80px;
				right: -25px;
				content: "";
				width: 500px;
				height: 500px;
				background-image: url("@img/faq-bg.svg");
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
			}
		}
	}

	@include container-up("faq-preview", 960px) {
		& > .container {
			display: grid;
			grid-template-columns: 4fr 5fr;
			gap: 30px clamp(40px, 3vw, 80px);
		}
	}
}
