extends ../../layouts/base-section/base-section.pug

block variables
  - sectionClass = 'faq-preview'
  - sectionContainerClass = ''
  - sectionHeadline = 'Ответы на популярные вопросы'
  - sectionTitle = 'Вопрос-ответ'
  - sectionText = 'Тут вы найдете ответы на частозадаваемые вопросы'

block content
  include ../../components/_ui/accordeon/accordeon

  +accordeon([
    {
      text: 'А лечить зубы это больно?',
      content: `<p>Нет. Сейчас в стоматологии используются современные анестетики, которые позволяют проводить прием безболезненно для пациента.</p>`
    },
    {
      text: 'Сколько раз нужно делать чистку?',
      content: `
        <p>
          Профессиональную гигиену в среднем рекомендуется делать раз в полгода. Также раз в полгода
          нужно посещать врача стоматолога для профилактического осмотра полости рта.
        </p>
      `
    },
    {
      text: 'Что входит в процедуру профессиональной гигиены полости рта?',
      content: `
        <p>
          В процедуру профессиональной гигиены полости рта входит:
        </p>
        <ol>
          <li>Снятие камней ультразвуковым аппаратом</li>
          <li>Чистка специализированным, высокообразивным порошком для удаления пигментированного налета</li>
          <li>Полировка специальной пастой и щеткой для финальной гладкости зубов</li>
        </ol>
      `
    },
  ])
