mixin burger-btn(data)
  .burger-btn(aria-label="Кнопка открытия меню" class= data.cls ? data.cls : null)
    span.burger-btn-line.burger-btn-line--top(aria-hidden="true")
    span.burger-btn-line.burger-btn-line--middle(aria-hidden="true")
    span.burger-btn-line.burger-btn-line--bottom(aria-hidden="true")
  