@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

// Если нужно вынести стили карточки отдельно, то убрать этот импорт и для дев режима включить в стили index.scss
// После создать генерацию разметки для карточки в _bx-templates
@use "@pug/components/_ui/sliders/base-cards-slider/base-cards-slider";
@use "@pug/components/_ui/cards/base-card/base-card";

.sales-preview {
	container: sales-preview / inline-size;

	&__content {
		@extend %flex-column;
		align-items: center;
		gap: 12px;

		@include container-up("sales-preview", $mobile-width) {
			background-image: url("@img/crown.svg");
			background-size: 250px;
			background-repeat: no-repeat;
			background-position: left bottom;
		}
	}
}
