mixin main-slider(data)
  .swiper.main-slider(class= data.cls ? data.cls : null)
    .swiper-wrapper
      each item in data.items
        .swiper-slide
          img(src=`./assets/img/${item.img}.png` alt="Фото" width="400" height="300")

    if data.pagination
      .swiper-pagination
    
    if data.navigation
      include ../../controls/swiper-navigation/swiper-navigation 
