@forward "@scss-root/_extends/flexbox.scss";
@forward "@scss-root/_extends/effects.scss";
@use "@scss-root/_mixins/container-queries" as *;
@use "@scss-root/_vars/scoped" as *;

.services-preview {
  container: services-preview/inline-size;

  &__grid {
    grid-template-columns: 1fr;
    column-gap: var(--base-grid-offset);

    @include container-up("services-preview", 640px) {
      columns: 2;
    }

    @include container-up("services-preview", 960px) {
      columns: 3;
    }

    &-item {
      break-inside: avoid;
      margin-bottom: clamp(20px, 3.2vw, 40px);
    }

    &.grid-2cols {
      display: grid;
      background-image: -webkit-image-set(
        url("./images/services-preview-bg@2x.webp") type("image/webp") 2x,
        url("./images/services-preview-bg@1x.webp") type("image/webp") 1x,
        url("./images/services-preview-bg@2x.png") 2x,
        url("./images/services-preview-bg@1x.png") 1x
      );
      background-image: image-set(
        url("./images/services-preview-bg@2x.webp") type("image/webp") 2x,
        url("./images/services-preview-bg@1x.webp") type("image/webp") 1x,
        url("./images/services-preview-bg@2x.png") 2x,
        url("./images/services-preview-bg@1x.png") 1x
      );
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom;

      @include container-up("services-preview", 534px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.service-preview-card-wrapper {
  height: 100%;
  container: service-preview-card/inline-size;
}

.service-preview-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: clamp(12px, 2.4vw, 20px);
  height: 100%;
  padding: 20px;
  border-radius: var(--base-border-radius);
  -webkit-box-shadow: var(--base-box-shadow);
  box-shadow: var(--base-box-shadow);
  background: rgba(255, 249, 253, 0.6);

  &:has(ul) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
    margin: 0;
    padding-left: 28px;

    @include container-up("service-preview-card", 560px) {
      display: block;
      -webkit-columns: 200px;
      -moz-columns: 200px;
      columns: 200px;
      gap: 38px;
    }

    & > li {
      @include container-up("service-preview-card", 560px) {
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 10px;
      }
    }

    & li {
      &:focus::marker {
        opacity: 0.6;
      }

      &:active::marker {
        opacity: 0.4;
      }

      &::marker {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        color: var(--secondary);
      }

      & > a {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
        color: var(--secondary);

        &:focus {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.4;
        }
      }
    }
  }

  &:has(img) img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    aspect-ratio: 5/2;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &:has(img) .service-preview-card-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (hover: hover) {
  .service-preview-card:has(ul) ul li:hover::marker,
  .service-preview-card:has(ul) ul li > a:hover {
    opacity: 0.6;
  }
}
