@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/text-truncate" as *;

.review-card {
	@extend %flex-column;
	gap: 10px;
	padding: 24px;
	width: 100%;
	height: 100%;

	&__rate {
		@extend %flex-align;
		gap: 2px;
		margin-bottom: 10px;
		.rate-item {
			fill: var(--secondary);

			&--muted {
				fill: var(--muted);
			}
		}
	}

	&__author {
		font-size: clamp(18px, 2.4vw, 20px);
		color: #252525;

		@include text-truncate(2);
	}

	&__content {
		@extend %flex-column;
		gap: 16px;
		padding: 10px 0;

		button {
			@extend %flex-align;
			padding: 5px 0;
			font-weight: 600;
			font-size: 14px;
			background-color: transparent;
			border: none;
			color: var(--secondary);
		}
	}
}
