@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

@use "@pug/sections/workflow/workflow";

.service-detail {
	container: service-detail / inline-size;
	.top-banner-slider {
		margin-bottom: clamp(24px, 4vw, 60px);
	}
	&__grid {
		&:has(.service-detail__grid-item--sidebar) {
			@extend %flex-wrap;
			gap: 30px;
		}

		&:not(:has(.service-detail__grid-item--sidebar)) {
			@extend %flex-column;
		}

		&-item {
			height: fit-content;

			&--content {
				width: 100%;
				.base-title {
					margin-bottom: clamp(20px, 3.6vw, 40px);
				}

				@include container-up("service-detail", $tablet-lg-width) {
					width: calc(100% - 350px);
				}
			}

			&--sidebar {
				@extend %flex-column;
				gap: 30px;
				display: none;

				@include container-up("service-detail", $tablet-lg-width) {
					display: flex;
					width: 320px;
				}
			}
		}
	}
}

.side-slider-block {
	@extend %flex-column;
	gap: 24px;

	.swiper.base-cards-slider.side-slider {
		.base-card {
			box-shadow: none;
			border: 1px solid var(--mint);
		}

		& .swiper-pagination {
			display: flex;
			position: static;
			justify-content: center;
			margin: 12px auto;
			transform: none !important;
		}
	}
}
