extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'service-detail'
  - sectionContainerClass = ''
  - sectionHeadline = ''
  - sectionTitle = ''
  - sectionText  = ''
  - hideSectionHeader = true
block content
  include ../../components/_ui/sliders/top-banner/top-banner
  .service-detail__grid
    .service-detail__grid-item.service-detail__grid-item--sidebar
      include ../../components/blocks/sidemenu/sidemenu
      include ../../components/_ui/cards/base-card/base-card
      include ../../components/_ui/sliders/base-cards-slider/base-cards-slider

      +sidemenu([
        { title: 'Лечение зубов' },
        { 
          title: 'Протезирование',
          inner: [
            { title: 'Циркониевые коронки' },
            { title: 'Коронки из металлокерамики' },
            { title: 'Коронки на имплантатах' },
            { title: 'Виниры' },
            { title: 'Съемные протезы' },
            { title: 'Несъемные протезы' },
            { title: 'Композитные виниры' },
            { title: 'E.MAX' },
            { title: 'Частичные съемные протезы' },
            { title: 'Бюгельное протезирование' },
          ]
        },
        { title: 'Отбеливание зубов' },
        { 
          title: 'Имплантация',
          inner: [
            { title: 'Циркониевые коронки' },
            { title: 'Коронки из металлокерамики' },
            { title: 'Коронки на имплантатах' },
            { title: 'Виниры' },
            { title: 'Съемные протезы' },
            { title: 'Несъемные протезы' },
            { title: 'Композитные виниры' },
            { title: 'E.MAX' },
            { title: 'Частичные съемные протезы' },
            { title: 'Бюгельное протезирование' },
          ]
        },
        { title: 'Гигиенические процедуры' },
        { title: 'Экстренная помощь' },
      ])

      .side-slider-block
        span.base-subtitle Акции
        include ../../components/_ui/sliders/side-slider/side-slider

    .service-detail__grid-item.service-detail__grid-item--content
      h2.base-title Лечение кариеса
      .content
        strong Что включает в себя услуга:

        ul
          li Консультация.
          li Врач оценивает состояние зубов и выбирает подходящий материал для винира.
          li Подготовка зубов.
          li Минимально обрабатывается поверхность зуба для лучшего сцепления с композитным материалом.
          li Нанесение материала.
          li Стоматолог слоями наносит композит, формируя винир прямо на зубе.
          li Финишная обработка.
          li Готовый винир шлифуется, полируется и закрепляется, чтобы он выглядел естественно и гармонировал с остальными зубами.
        br
        strong Сроки выполнения:

        p Процедура занимает от 30 минут до 1 часа.

        p Стоматологические установки фирмы KaVo в нашей клинике относятся к категории премиум-класса. Они оснащены автоматической системой очистки и дезинфекции аспирационных шлангов (слюноотсос, пылесос) и шлангов инструментов на столе врача. 
        
        blockquote В настоящее время в рамках реформирования отечественного здравоохранения и медицинского образования в нашей стране начат переход от сертификации к аккредитации специалистов, а также от повышения квалификации один раз в 5 лет к непрерывному медицинскому образованию.
        
        table
          thead
            tr
              td Название процедуры
              td Цена
          tbody
            tr
              td Стоматологические установки фирмы KaVo в нашей клинике относятся к категории премиум-класса. Они оснащены автоматической системой очистки и дезинфекции аспирационных шлангов (слюноотсос, пылесос) и шлангов инструментов на столе врача. 
              td <strong>20 355 руб.</strong>
            tr
              td Консультация в день визита
              td <strong>1 120 355 руб.</strong>

        h2 <strong>Подзаголовок Н2</strong>
        p Стоматологические установки фирмы KaVo в нашей клинике относятся к категории премиум-класса. Они оснащены автоматической системой очистки и дезинфекции аспирационных шлангов (слюноотсос, пылесос) и шлангов инструментов на столе врача. 
        br
        h3 <strong>Подзаголовок Н3</strong>

        ul
          li Для коррекции мелких дефектов.
          li Если важна скорость: винир можно установить за одно посещение.
          li В случаях, когда нужна бюджетная альтернатива непрямым винирам.