.top-menu ul,
.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	.top-menu__inner-wrapper
	ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.top-menu ul a .top-menu-inner-opener,
.top-menu ul span .top-menu-inner-opener {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.top-menu ul a,
.top-menu ul span,
.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	> .top-menu__inner-wrapper
	a,
.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	> .top-menu__inner-wrapper
	span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.top-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 6px;
}

.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	> .top-menu__inner-wrapper
	> ul
	> li
	> .top-menu__inner-wrapper
	a {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	> .top-menu__inner-wrapper
	> ul
	> li
	> .top-menu__inner-wrapper
	a:focus {
	opacity: 0.6;
}
.top-menu
	ul:has(li.dropdown-menu)
	li.dropdown-menu
	> .top-menu__inner-wrapper
	> ul
	> li
	> .top-menu__inner-wrapper
	a:active {
	opacity: 0.4;
}

.top-menu {
	width: 100%;
}
@container header (min-width: 960px ) {
	.top-menu ul {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}
.top-menu ul a,
.top-menu ul span {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 6px 12px;
	font-size: 18px;
	color: var(--dark);
}
@container header (min-width: 960px ) {
	.top-menu ul a,
	.top-menu ul span {
		padding: 12px;
	}
}
@container header (max-width: 959px) {
	.top-menu ul a,
	.top-menu ul span {
		min-height: 44px;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 8px;
	}
	.top-menu ul a svg,
	.top-menu ul span svg {
		-webkit-transition: -webkit-transform var(--main-transition);
		transition: -webkit-transform var(--main-transition);
		transition: transform var(--main-transition);
		transition: transform var(--main-transition),
			-webkit-transform var(--main-transition);
	}
	.top-menu ul a .top-menu-inner-opener,
	.top-menu ul span .top-menu-inner-opener {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}
	.top-menu ul .top-menu__inner-wrapper {
		display: none;
		padding-left: 20px;
	}
	.top-menu ul .top-menu__inner-wrapper a,
	.top-menu ul .top-menu__inner-wrapper span {
		color: var(--primary);
	}
	.top-menu ul .top-menu__inner-wrapper span {
		cursor: pointer;
	}
	.top-menu ul .top-menu__inner-wrapper .top-menu__inner-wrapper a {
		color: var(--secondary);
	}
	.top-menu ul li.expanded > a > .top-menu-inner-opener svg,
	.top-menu ul li.expanded > span > svg {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.top-menu ul li.expanded > .top-menu__inner-wrapper {
		display: block;
		-webkit-animation: fadeIn var(--main-transition);
		animation: fadeIn var(--main-transition);
	}
}
@container header (min-width: 960px ) {
	.top-menu ul:has(li.dropdown-menu) li.dropdown-menu {
		position: relative;
	}
	.top-menu ul:has(li.dropdown-menu) li.dropdown-menu > a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 8px;
	}
	.top-menu ul:has(li.dropdown-menu) li.dropdown-menu > a svg {
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.top-menu ul:has(li.dropdown-menu) li.dropdown-menu .top-menu__inner-wrapper {
		position: absolute;
		padding: 20px 0;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		-webkit-transition: visibility var(--main-transition),
			opacity var(--main-transition), -webkit-transform var(--main-transition);
		transition: visibility var(--main-transition),
			opacity var(--main-transition), -webkit-transform var(--main-transition);
		transition: visibility var(--main-transition),
			transform var(--main-transition), opacity var(--main-transition);
		transition: visibility var(--main-transition),
			transform var(--main-transition), opacity var(--main-transition),
			-webkit-transform var(--main-transition);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		.top-menu__inner-wrapper
		ul {
		gap: 6px;
		padding: 20px;
		-webkit-box-shadow: var(--base-box-shadow);
		box-shadow: var(--base-box-shadow);
		border-radius: var(--base-border-radius);
		background-color: var(--lighter);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu:focus
		> .top-menu__inner-wrapper,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu:hover
		> .top-menu__inner-wrapper {
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper {
		position: absolute;
		top: 100%;
		left: -30px;
		min-width: 280px;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		li {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		a,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		span {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		border-radius: 5px;
		padding: 10px;
		-webkit-transition: color var(--main-transition),
			background-color var(--main-transition);
		transition: color var(--main-transition),
			background-color var(--main-transition);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		a
		svg,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		span
		svg {
		-webkit-transition: fill var(--main-transition);
		transition: fill var(--main-transition);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		span {
		cursor: default;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:focus
		> .top-menu__inner-wrapper,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:hover
		> .top-menu__inner-wrapper {
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:focus
		> a,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:focus
		> span,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:hover
		> a,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:hover
		> span {
		background-color: var(--primary);
		color: var(--white);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:focus
		> a
		svg,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:focus
		> span
		svg,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:hover
		> a
		svg,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li:hover
		> span
		svg {
		fill: var(--white);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li
		> .top-menu__inner-wrapper {
		top: 0;
		left: 100%;
		padding: 0;
		padding-left: 30px;
		min-width: 340px;
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li
		> .top-menu__inner-wrapper
		a {
		color: var(--secondary);
	}
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		li:focus
		> .top-menu__inner-wrapper,
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		li:hover
		.top-menu__inner-wrapper {
		display: block;
	}
}
@media (hover: hover) {
	.top-menu
		ul:has(li.dropdown-menu)
		li.dropdown-menu
		> .top-menu__inner-wrapper
		> ul
		> li
		> .top-menu__inner-wrapper
		a:hover {
		opacity: 0.6;
	}
}
