@use "@scss-root/_mixins/container-queries" as *;

.quiz-new {

  &__wrapper {
    container: quiz-new-container / inline-size;
  }

  form {
    box-shadow: var(--base-box-shadow);
    border-radius: var(--base-border-radius);
    overflow: hidden;
  }

  &__note {
    display: flex;
    flex-direction: column;
    box-shadow: var(--base-box-shadow);
    border-radius: var(--base-border-radius);
    overflow: hidden;

    @include container-up("quiz-new-container", 1000px) {
      min-height: 380px;
    }

    .quiz-new__screen {
      padding: clamp(20px, 2.5vw, 36px) clamp(20px, 4vw, 60px);
      flex-grow: 1;
    }
  }

  &__success {
    color: var(--success);
    fill: var(--success);
  }

  &__screen {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(20px, 2.5vw, 36px) clamp(20px, 4vw, 60px) 0;

    @include container-up("quiz-new-container", 1000px) {
      padding-bottom: 110px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: 500px;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &--question {
      @include container-up("quiz-new-container", 1000px) {
        &::after {
          background-image: url("./img/question-bg.png");
        }
      }
    }

    &--last-step {
      @include container-up("quiz-new-container", 1000px) {
        &::after {
          background-image: url("./img/last-screen-bg.png");
        }
      }
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: clamp(20px, 1.6vw, 24px);
    z-index: 2;

    @include container-up("quiz-new-container", 1000px) {
      margin-right: auto;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__status-line {
    display: flex;
    max-width: 100%;
    margin: 0 auto;

    @include container-up("quiz-new-container", 1000px) {
      margin: 0;
    }

    span {
      display: flex;
      align-items: center;
      width: 40px;

      &:last-child {
        width: 20px;
      }

      &::before {
        content: "";
        flex-basis: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid var(--muted);
      }

      &:not(:last-child)::after {
        content: "";
        flex-basis: 20px;
        height: 1px;
        background-color: var(--muted);
      }

      &.active {
        &::before {
          border-color: var(--secondary);
          background-color: var(--secondary);
        }

        &:not(:last-child)::after {
          background-color: var(--secondary);
        }
      }
    }
  }

  &__gift {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(212, 228, 244, 0.3);
    color: var(--accent);
    font-size: 18px;
    font-family: var(--secondary-font);
    border-radius: 15px;
    font-weight: 600;
    width: 100%;

    @include container-up("quiz-new-container", 1000px) {
      // display: none;
      background-color: var(--white);
      max-width: 280px;
    }

    &::before {
      content: "";
      width: 48px;
      height: 48px;
      background-image: url("./img/blue-gift-box.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include container-up("quiz-new-container", 1000px) {
        display: none;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: clamp(20px, 2.5vw, 36px) clamp(20px, 4vw, 60px);
    padding-top: 0;

    @include container-up("quiz-new-container", 1000px) {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 2;
    width: 100%;
    max-width: 700px;

    @include container-up("quiz-new-container", 1000px) {
      max-width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-right: 20px;
    }
  }

  .swiper {
    position: relative;

    &-wrapper {
      margin-bottom: 20px;

      @include container-up("quiz-new-container", 1000px) {
        margin-bottom: 0;
      }
    }

    &-slide {
      position: relative;
      overflow: hidden;
      height: auto;
    }

    .swiper-navigation {
      width: 100%;
      justify-content: space-between;

      @include container-up("quiz-new-container", 1000px) {
        justify-content: flex-start;
      }

      .swiper-button {
        position: static;
        border: 1px solid var(--secondary);
        color: var(--secondary);
        background-color: var(--white);
        flex-basis: 50%;
        gap: 6px;
        min-width: 0;
        padding: 10px clamp(10px, 2vw, 16px);
        min-height: 44px;
        font-weight: 500;

        @include container-up("quiz-new-container", 360px) {
          max-width: 200px;

          &-next {
            order: 2;
          }
        }

        span {
          font-size: 16px;
          font-weight: 500;
          display: none;

          @include container-up("quiz-new-container", 360px) {
            display: block;
          }
        }

        svg {
          fill: var(--secondary);
        }

        &-prev {
          transform: rotate(0);

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .base-title {
    font-size: clamp(28px, 3.5vw, 38px);
    letter-spacing: 0.02em;
  }

  fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(10px, 1.8vw, 16px);
    padding: 0;
    border: 0;
    margin: 0;
    width: 100%;

    @include container-up("quiz-new-container", 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  legend {
    margin-bottom: clamp(20px, 2vw, 30px);
  }

  .main-radio-wrapper {
    border: 2px solid var(--light);
    border-radius: var(--base-border-radius);

    label {
      padding: 14px 18px;
    }
  }

  .main-input-wrapper {
    input {
      max-width: 500px;
    }
  }

  .main-checkbox-wrapper {
    label {
      gap: 16px;
    }
  }

  input[type="submit"]:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
