@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

/*purgecss start ignore*/
.news {
	container: news / inline-size;

	&__header {
		margin-bottom: 40px;
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;

		&--2cols {
			@include container-up("news", $mobile-width) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&--3cols {
			@include container-up("news", $mobile-width) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include container-up("news", $tablet-lg-width) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&--4cols {
			@include container-up("news", $mobile-width) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include container-up("news", $tablet-lg-width) {
				grid-template-columns: repeat(3, 1fr);
			}

			@include container-up("news", $desktop-width) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
/*purgecss end ignore*/
