extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'news'
  - sectionContainerClass = ''
  - sectionHeadline = 'Блог'
  - sectionTitle = 'Полезные статьи о стоматологии'
  - sectionText  = 'Читайте наши статьи, чтобы узнать больше о современных методах лечения, профилактике заболеваний и уходе за зубами.'
block content
  include ../../components/_ui/controls/buttons/main-btn/main-btn
  include ../../components/_ui/sort-slider/sort-slider
  include ../../components/_ui/cards/base-card/base-card

  .news__header
    +sort-slider([
      { title: 'Все'},
      { title: 'Лечение зубов'},
      { title: 'Имплантация', cls: 'active' },
      { title: 'Гигиена'},
    ])
  .news__grid.news__grid--4cols
    .news__grid-item
      +base-card(
        {
          img: 'sale-mock-img',
          headline: '01 января 2025 г.',
          title: 'Как ухаживать за зубами после отбеливания',
          text: 'Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго. Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго.',
          link: {
            tag: 'a',
            href: 'news-detail.html',
            text: 'Читать далее'
          }
        },
      ) 
    .news__grid-item
      +base-card(
        {
          img: 'sale-mock-img',
          headline: '01 января 2025 г.',
          title: 'Как ухаживать за зубами после отбеливания',
          text: 'Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго. Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго.',
          link: {
            tag: 'a',
            href: 'news-detail.html',
            text: 'Читать далее'
          }
        },
      )
    .news__grid-item
      +base-card(
        {
          img: 'sale-mock-img',
          headline: '01 января 2025 г.',
          title: 'Как ухаживать за зубами после отбеливания',
          text: 'Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго. Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго.',
          link: {
            tag: 'a',
            href: 'news-detail.html',
            text: 'Читать далее'
          }
        },
      )
    .news__grid-item
      +base-card(
        {
          img: 'sale-mock-img',
          headline: '01 января 2025 г.',
          title: 'Как ухаживать за зубами после отбеливания',
          text: 'Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго. Узнайте, какие шаги помогут сохранить белизну вашей улыбки надолго.',
          link: {
            tag: 'a',
            href: 'news-detail.html',
            text: 'Читать далее'
          }
        },
      )


  include ../../components/_ui/pagination/pagination
    
      