.staff-detail {
  padding: 40px 0;

  &__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 40px;
    min-width: 0;

    @media (min-width: 960px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    &-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      min-width: 0;

      .content {
        margin-top: 40px;
      }
    }
  }

  &__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("/img/background.png");
    background-size: cover;
    padding: 20px;
    padding-bottom: 0;
    border-radius: var(--base-border-radius);

    img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      max-width: 300px;
      height: auto;
      -o-object-position: center;
      object-position: center;
    }
  }

  .staff-docs-slider {
    &:has(.swiper-pagination) {
      padding-bottom: 30px;
    }

    .swiper-slide {
      width: fit-content;
      height: inherit;
      max-height: inherit;
    }

    img {
      width: 100%;
      max-height: 300px;
    }
  }
}
