.sidemenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidemenu ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: clamp(16px, 2.4vw, 24px);
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 8px;
	font-size: 16px;
}

.sidemenu ul li ul li a {
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 6px 20px;
	color: var(--muted);
}
.sidemenu ul li ul li a:focus {
	opacity: 0.6;
}
.sidemenu ul li ul li a:active {
	opacity: 0.4;
}

.sidemenu {
	width: 100%;
}
.sidemenu > ul {
	border: 1px solid var(--mint);
}
.sidemenu > ul > li {
	padding: 20px;
	font-weight: 600;
	color: var(--primary);
	cursor: pointer;
}
.sidemenu > ul > li:not(:last-child) {
	border-bottom: 1px solid var(--mint);
}
.sidemenu ul li svg {
	width: 16px;
	height: 16px;
	fill: var(--secondary);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: -webkit-transform var(--main-transition);
	transition: -webkit-transform var(--main-transition);
	transition: transform var(--main-transition);
	transition: transform var(--main-transition),
		-webkit-transform var(--main-transition);
	pointer-events: none;
}
.sidemenu ul li ul {
	display: none;
	width: 100%;
}
.sidemenu ul li ul li a.selected {
	color: var(--secondary);
}
.sidemenu ul li:has(.initial) svg,
.sidemenu ul li.expanded svg {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.sidemenu ul li:has(.initial) ul,
.sidemenu ul li.expanded ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 12px;
}
@media (hover: hover) {
	.sidemenu ul li ul li a:hover {
		opacity: 0.6;
	}
}
