@use "@pug/components/_ui/sliders/portfolio-slider/portfolio-slider";

@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/text-truncate" as *;

.portfolio-card {
	padding: clamp(12px, 2.2vw, 20px);
	border-radius: var(--border-radius-sm);
	box-shadow: var(--base-box-shadow);
	background-color: var(--white);

	&-wrapper {
		height: 100%;
		container: portfolio-card / inline-size;
	}

	&__content {
		position: relative;
		padding-top: 50px;

		&::before {
			position: absolute;
			top: 26px;
			left: 50%;
			transform: translateX(-50%);
			width: 120px;
			height: 4px;
			content: "";
			border-radius: 2px;
			background-color: var(--secondary);
			z-index: 10;
		}

		.base-subtitle {
			text-align: center;
			margin-bottom: 24px;
		}

		.main-btn {
			margin: 0 auto;
		}
	}
}
