.portfolio-card-wrapper
  .portfolio-card
    .portfolio-card__slider
    include ../../sliders/portfolio-slider/portfolio-slider

    .portfolio-card__content
      span.base-subtitle Комплексное отбеливание зубов
      button(type="button").main-btn.main-btn--outlined Подробнее