a(href="https://littleweb.ru" aria-label="LittleWeb.ru - Разработка и продвижение сайтов под ключ" rel="nopener nofollow norefferer" target="_blank").developer-logo
  span Создание и продвижение
  img(src="./assets/img/developer-logo.svg" alt="LittleWeb.ru - Разработка и продвижение сайтов под ключ" width="275" height="40")
