@use "@scss-root/_mixins/container-queries" as *;

.service-detail {
  container: service-detail/inline-size;

  .top-banner-slider {
    margin-bottom: clamp(24px, 4vw, 60px);
  }

  &__grid {
    &:not(:has(.service-detail__grid-item--sidebar)) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &:has(.service-detail__grid-item--sidebar) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      @include container-up("service-detail", 960px) {
        gap: 30px;
      }
    }

    &-item {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;

      &--sidebar {
        display: none;

        @include container-up("service-detail", 959px) {
          display: flex;
          flex-direction: column;
          width: 320px;
          gap: 30px;
        }
      }

      &--content {
        width: 100%;

        @include container-up("service-detail", 960px) {
          width: calc(100% - 350px);
        }

        .base-title {
          margin-bottom: clamp(20px, 3.6vw, 40px);
        }
      }
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 10px 0;

    @media (min-width: 650px) {
      grid-template-columns: 4fr 1.4fr;
      grid-template-rows: auto auto;
      gap: 20px;
    }

    picture {
      border-radius: 20px;
      overflow: hidden;

      &:first-child {
        grid-column: 1/-1;

        @media (min-width: 650px) {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
        }
      }
    }

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .accordeon {
    margin: 20px 0;
    gap: 0;

    &-item {
      border-radius: 0;
      box-shadow: none;
      border: 0;
      border-top: 1px solid var(--muted);

      &:last-child {
        border-bottom: 1px solid var(--muted);
      }

      &.expanded {
        .accordeon-body {
          margin-bottom: 0;

          .content-block {
            padding: 10px;
          }
        }
      }
    }

    &-header {
      padding: 10px;

      h2 {
        font-size: clamp(18px, 1.6vw, 24px);
      }

      strong {
        font-weight: 600;
      }
    }

    &-body {
      padding: 0;

      .content-block {
        padding: 0 10px;
      }
    }

    &-opener {
      background-color: transparent;
      border-radius: 0%;

      svg {
        transform: rotate(45deg);
        fill: var(--primary);
        width: 26px;
        height: 26px;
      }
    }
  }
}

.side-slider-block {
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .swiper.base-cards-slider.side-slider {
    .base-card {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid var(--mint);
    }

    .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: static;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 12px auto;
      -webkit-transform: none !important;
      -ms-transform: none !important;
      transform: none !important;
    }
  }
}

.workflow {
  container: workflow/inline-size;

  &__list {
    margin: 0;
    list-style: none;
    gap: 20px;
    padding: 24px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @include container-up("workflow", 768px) {
      position: relative;
      padding: 0 40% 0 0;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        background-image: url(/img/workflow-img.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        width: calc(40% - 32px);
        height: 100%;
      }
    }

    &-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 20px;

      &-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
