@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;
// Если нужно вынести стили карточки отдельно, то убрать этот импорт и для дев режима включить в стили index.scss
// После создать генерацию разметки для feature-card _bx-templates
@use "@pug/components/_ui/cards/feature-card/feature-card";

.features {
	container: features / inline-size;
	background-color: var(--lighter);
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: clamp(20px, 3.2vw, 40px);

		@include container-up("features", $tablet-width) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
