extends ../../layouts/base-section/base-section.pug

block variables
  - sectionClass = 'features'
  - sectionContainerClass = ''
  - sectionHeadline = 'Почему выбирают нас'
  - sectionTitle = 'Наши преимущества'

block content
  include ../../components/_ui/cards/feature-card/feature-card

  .features__grid
    .features__grid-item 
      +feature-card({
        title: 'Современное оборудование',
        text: 'Наша клиника оснащена новейшими технологиями и оборудованием, что позволяет добиваться высоких результатов и обеспечивать безопасность и комфорт пациентов.'
      })
    .features__grid-item 
      +feature-card({
        icon: 'feature-img-2',
        title: 'Опытные врачи',
        text: 'В клинике работают высококвалифицированные специалисты в различных областях стоматологии. Врачи постоянно совершенствуют свои знания и навыки, чтобы предоставлять лучшее лечение.'
      })
    .features__grid-item 
      +feature-card({
        icon: 'feature-img-3',
        title: 'Индивидуальный подход',
        text: 'Мы уделяем особое внимание потребностям и пожеланиям каждого пациента, разрабатывая индивидуальный план лечения. Создаем комфортную и доверительная атмосфера для вас.'
      })
    .features__grid-item 
      +feature-card({
        icon: 'feature-img-4',
        title: 'Доступные цены',
        text: 'Мы предлагаем доступные цены на услуги, включая различные пакетные предложения и гибкую систему скидок, чтобы каждый пациент мог получить необходимое лечение по оптимальной цене.'
      })
