include ../../form-controls/main-input/main-input
include ../../form-controls/main-checkbox/main-checkbox
include ../../form-controls/main-textarea/main-textarea

.review-form
  form(action="#")
    .review-form__header
      span.base-title Оставить отзыв

    include ../../form-controls/rate/rate
    
    +main-input({
      id: 'review-user-name',
      placeholder: 'Ваше имя',
      name: 'NAME'
    })

    +main-textarea({
      isInvalid: true,
      id: 'review-user-text',
      placeholder: 'Текст отзыва',
      name: 'TEXT'
    })

    include ../../form-controls/captcha-block/captcha-block

    +main-checkbox({ 
      isInvalid: true,
      checked: true,
      id: 'review-user-accept',
      label: `Согласен на <a href="#">обработку персональных данных</a>`
    })

    +main-input({
      type: 'submit',
      text: 'Записаться'
    })
