.service-detail__grid:not(:has(.service-detail__grid-item--sidebar)),
.service-detail__grid-item--sidebar,
.side-slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.service-detail__grid:has(.service-detail__grid-item--sidebar) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: clamp(16px, 2.4vw, 24px);
  gap: 30px;
}

.service-detail {
  container: service-detail/inline-size;
}
.service-detail .top-banner-slider {
  margin-bottom: clamp(24px, 4vw, 60px);
}
.service-detail__grid-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.service-detail__grid-item--content {
  width: 100%;
}
.service-detail__grid-item--content .base-title {
  margin-bottom: clamp(20px, 3.6vw, 40px);
}
@container service-detail (min-width: 960px ) {
  .service-detail__grid-item--content {
    width: calc(100% - 350px);
  }
}
.service-detail__grid-item--sidebar {
  gap: 30px;
  display: none;
}
@container service-detail (min-width: 960px ) {
  .service-detail__grid-item--sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
  }
}

.side-slider-block {
  gap: 24px;
}
.side-slider-block .swiper.base-cards-slider.side-slider .base-card {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--mint);
}
.side-slider-block .swiper.base-cards-slider.side-slider .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 12px auto;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

.workflow__list,
.workflow__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.workflow__list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
}

.workflow__list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  padding: 24px 0;
}

.workflow {
  container: workflow/inline-size;
}

@container workflow (min-width: 768px ) {
  .workflow__list {
    position: relative;
    padding: 0;
    padding-right: 40%;
  }

  .workflow__list::after {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    background-image: url("/img/workflow-img.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: calc(40% - 32px);
    height: 100%;
  }
}

.workflow__list-item {
  gap: 20px;
}
