@use "@scss-root/_mixins/container-queries" as *;

.quiz-form {
  container: quiz-form-container / inline-size;
  display: flex;
  border: 2px solid var(--light);
  border-radius: calc(2 * var(--base-border-radius));
  box-shadow: 0 4px 8px 0 rgba(212, 228, 244, 0.5);
  overflow: hidden;

  form {
    width: 100%;

    @include container-up("quiz-form-container", 700px) {
      min-height: 350px;
    }

    @include container-up("quiz-form-container", 1100px) {
      min-height: 500px;
    }
  }

  &__screen {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;

    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;

    transition:
      opacity 0.4s 0.2s linear,
      visibility var(--main-transition);

    @include container-up("quiz-form-container", 1100px) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 500px;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
      height: 100%;
      padding: clamp(20px, 2.5vw, 36px) clamp(20px, 4vw, 60px);
    }

    &--question {
      @include container-up("quiz-form-container", 1100px) {
        &::before {
          right: 0;
          background-image: url("/source/img/quiz-form-question-bg.png");
          background-position: right bottom;
        }
      }

      .quiz-form__screen-wrapper {
        gap: 20px;

        .quiz-form__status-line {
          margin: 0 auto;
        }

        @include container-up("quiz-form-container", 700px) {
          max-width: 850px;

          .quiz-form__progress {
            margin-top: auto;
          }

          .quiz-form__status-line {
            margin: 0;
          }
        }

        @include container-up("quiz-form-container", 1100px) {
          max-width: 600px;
          margin-left: 0;
        }

        @include container-up("quiz-form-container", 1280px) {
          max-width: 750px;
        }
      }
    }

    &--info {
      @include container-up("quiz-form-container", 1100px) {
        &::before {
          left: 0;
          background-image: url("/source/img/quiz-form-last-screen-bg.png");
          background-position: left bottom;
        }
      }

      .quiz-form__screen-wrapper {
        gap: 14px;
        text-align: center;

        @include container-up("quiz-form-container", 700px) {
          max-width: 700px;
        }

        @include container-up("quiz-form-container", 1100px) {
          gap: 10px;
          margin-right: 40px;
          text-align: left;
          max-width: 500px;
        }

        @include container-up("quiz-form-container", 1280px) {
          margin-right: 150px;
        }
      }
    }

    &:first-of-type {
      .quiz-form__btn {
        display: none;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 1;
    }
  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    border: 0;

    @include container-up("quiz-form-container", 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include container-up("quiz-form-container", 1100px) {
      position: relative;
      z-index: 1;
    }

    legend {
      margin-bottom: 20px;

      @include container-up("quiz-form-container", 700px) {
        margin-bottom: 30px;
      }
    }
  }

  &__desc {
    display: block;
    text-align: center;
    margin: 10px 0;

    @include container-up("quiz-form-container", 700px) {
      grid-column: 1/-1;
    }

    @include container-up("quiz-form-container", 1100px) {
      text-align: left;
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;

    @include container-up("quiz-form-container", 700px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include container-up("quiz-form-container", 1100px) {
      position: relative;
      margin-bottom: 0;
      z-index: 1;
    }
  }

  &__status-line {
    display: flex;
    padding: 6px 0;
    max-width: 100%;

    span {
      display: flex;
      align-items: center;
      width: 40px;

      &:last-child {
        width: 20px;
      }

      &::before {
        content: "";
        flex-basis: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid var(--muted);
      }

      &:not(:last-child)::after {
        content: "";
        flex-basis: 20px;
        height: 1px;
        background-color: var(--muted);
      }

      &.active {
        &::before {
          border-color: var(--secondary);
          background-color: var(--secondary);
        }

        &:not(:last-child)::after {
          background-color: var(--secondary);
        }
      }
    }
  }

  .quiz-form__btn {
    gap: 10px;
    width: 100%;
    background-color: var(--white);

    @include container-up("quiz-form-container", 700px) {
      width: fit-content;
      max-width: 250px;
    }

    &:hover,
    &:active,
    &:focus {
      svg {
        fill: var(--white);
      }
    }

    svg {
      fill: var(--secondary);
      transform: rotate(180deg);
    }
  }

  &__gift {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(212, 228, 244, 0.3);
    color: var(--accent);
    font-size: clamp(18px, 2vw, 26px);
    font-family: var(--secondary-font);
    border-radius: 15px;
    font-weight: 600;

    @include container-up("quiz-form-container", 1100px) {
      position: absolute;
      bottom: 32px;
      right: 46px;
      background-color: var(--white);
      max-width: 350px;
    }

    &::before {
      content: "";
      width: 48px;
      height: 48px;
      background-image: url("/source/img/blue-gift-box.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @include container-up("quiz-form-container", 1100px) {
        display: none;
      }
    }
  }

  &__note {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: clamp(20px, 2.5vw, 36px) clamp(20px, 4vw, 60px);

    @include container-up("quiz-form-container", 1100px) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: 500px;
        background-image: url("/source/img/quiz-form-last-screen-bg.png");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
      margin: auto 0;

      svg {
        fill: var(--success);
      }

      @include container-up("quiz-form-container", 1100px) {
        margin: 0 40px auto auto;
        max-width: 500px;
        align-items: start;

        .quiz-form__status-line {
          margin-bottom: 70px;
        }
      }

      @include container-up("quiz-form-container", 1280px) {
        margin-right: 150px;
      }
    }

    span:first-of-type {
      font-size: clamp(28px, 3.5vw, 38px);
      color: var(--success);
    }
  }

  .base-title {
    font-size: clamp(28px, 3.5vw, 38px);
    letter-spacing: 0.02em;
  }

  .quiz-form__submit-btn {
    width: 100%;

    @include container-up("quiz-form-container", 700px) {
      width: fit-content;
      margin: 0 auto;
    }

    @include container-up("quiz-form-container", 1100px) {
      margin: 0;
    }
  }

  .main-radio-wrapper {
    padding: 14px 18px;
    border: 2px solid var(--light);
    border-radius: var(--base-border-radius);
  }

  .main-input-wrapper {
    input {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .main-checkbox-wrapper {
    margin: 10px auto;

    @include container-up("quiz-form-container", 700px) {
      grid-column: 1/-1;
    }

    @include container-up("quiz-form-container", 1100px) {
      margin: 10px 0;
    }

    label {
      @include container-down("quiz-form-container", 500px) {
        gap: 20px;
      }
    }
  }
}
