.video-reviews {
  &.base-section {
    padding-bottom: 0;
  }

  .swiper {
    &-slide {
      max-width: 330px;
      box-shadow: 5px 5px 20px 0 var(--lighter);
      border-radius: var(--base-border-radius);
      overflow: hidden;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
      position: static;
      margin: 0 auto;
      padding: 20px 0;
      transform: none;
    }
  }
}

.video-review {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &__poster {
    width: 100%;
    object-fit: contain;
  }

  h3 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 68px;
    margin: 0;
    padding: 14px 10px;
    background: linear-gradient(rgba(105, 107, 108, 0.5), rgba(6, 6, 6, 0.5));
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .main-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;

    svg {
      fill: var(--white);
    }
  }
}
