@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

// Если нужно вынести стили карточки отдельно, то убрать этот импорт и для дев режима включить в стили index.scss
// После создать генерацию разметки для карточки в _bx-templates
@use "@pug/components/_ui/sliders/staff-preview-slider/staff-preview-slider";
@use "@pug/components/_ui/cards/staff-preview-card/staff-preview-card";

.staff-preview {
	container: staff-preview / inline-size;

	@include container-up("main", $mobile-width) {
		.base-section__header {
			position: relative;

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				content: "";
				width: 205px;
				height: 205px;
				background-image: url("@img/tools.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}

	&__content {
		@extend %flex-column;
		align-items: center;
	}
}
