extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'staff-preview'
  - sectionContainerClass = ''
  - sectionHeadline = 'Кто заботится о вашей улыбке'
  - sectionTitle = 'Наши врачи'
  - sectionText  = ''
block content
  include ../../components/_ui/controls/buttons/main-btn/main-btn
  include ../../components/_ui/sliders/staff-preview-slider/staff-preview-slider

  .staff-preview__content
    +staff-preview-slider({
      pagination: false,
      navigation: true,
      items: [
        {
          img: 'staff-transparent-img',
          title: 'Русакова Мария Алексеевна',
          content: [
            `
              <strong>Должность:</strong>
              <span>Врач стоматолог-ортодонт</span>
            `,
            `
              <strong>Образование:</strong>
              <ul>
                <li> 2015 г. - Высшее медицинское образование с дипломом по специальности “Стоматология”.</li>
                <li> 2019 г. - Интернатура и/или ординатура по специальности “Стоматология общей практики”.</li>
                <li> 2021 г. - Специализированное обучение и сертификация по терапевтической стоматологии.</li>
              </ul>
            `,
            `
              <strong>Опыт:</strong>
              <ul>
                <li>Участие в сложных ортодонтических процедурах и операциях.</li>
                <li>Постоянное повышение квалификации, участие в семинарах и конференциях, освоение новых технологий и методик.</li>
                <li>Взаимодействие с другими специалистами для обеспечения комплексного подхода к лечению пациентов.</li>
                <li>Участие в сложных ортодонтических процедурах и операциях.</li>
                <li>Постоянное повышение квалификации, участие в семинарах и конференциях, освоение новых технологий и методик.</li>
                <li>Взаимодействие с другими специалистами для обеспечения комплексного подхода к лечению пациентов.</li>
              </ul>
            `
          ]
        },
        {
          img: 'staff-transparent-img-2',
          title: 'Ибрагимов Курбан Атаджанович',
          content: [
            `
              <strong>Должность:</strong>
              <span>Главный врач и стоматолог-ортопед-терапевт</span>
            `,
            `
              <strong>Образование:</strong>
              <ul>
                <li> 2015 г. - Высшее медицинское образование с дипломом по специальности “Стоматология”.</li>
                <li> 2019 г. - Интернатура и/или ординатура по специальности “Стоматология общей практики”.</li>
                <li> 2021 г. - Специализированное обучение и сертификация по терапевтической стоматологии.</li>
              </ul>
            `,
            `
              <strong>Опыт:</strong>
              <span>
                Участие в сложных ортодонтических процедурах и операциях.<br>
                Постоянное повышение квалификации, участие в семинарах и конференциях, освоение новых технологий и методик.<br>
                Взаимодействие с другими специалистами для обеспечения комплексного подхода к лечению пациентов.
              </span>
            `
          ]
        }
      ]
    })

    +main-btn({
      tag: 'a',
      href: 'sales.html',
      cls: 'main-btn--outlined',
      text: 'Смотреть всех врачей'
    })
    
      