.staff-card .btn {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
@media (hover: hover) {
  .staff-card .btn:hover {
    opacity: 0.6;
  }
}
.staff-card .btn:focus {
  opacity: 0.6;
}
.staff-card .btn:active {
  opacity: 0.4;
}
.staff {
  container: staff/inline-size;
}
.staff .grid {
  display: flex;
  gap: 24px;
  margin-bottom: 12px;
}
.staff .grid__item {
  width: 100%;
}
@container main (min-width: 1024px) {
  .staff .grid__item {
    width: calc(50% - 12px);
  }
}
.staff .grid__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.staff .grid__item--picture {
  display: none;
}
@container main (min-width: 1024px) {
  .staff .grid__item--picture {
    display: block;
  }
}
.staff .swiper-pagination {
  position: static;
  margin-top: 12px;
}
.staff-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
  background-color: var(--secondary);
  width: 100%;
  height: 100%;
}
.staff-card img {
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 240px;
  object-position: center bottom !important;
}
.staff-card__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 8px;
}
.staff-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  border-radius: var(--border-radius);
  color: var(--info);
  background-color: var(--white);
  margin-bottom: 24px;
}
.staff-card__content strong {
  padding: 6px 12px;
  border-radius: var(--border-radius);
  color: var(--white);
  background-color: var(--info);
}
.staff-card__content p {
  margin-bottom: 0;
}
.staff-card__descr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.staff-card .btn {
  max-width: 100%;
  margin-top: auto;
}
