@use "@scss-root/_mixins/container-queries" as *;
@use "@scss-root/_vars/scoped" as *;
@forward "@scss-root/_extends/effects.scss";

.service-form {
  container: service-form-container / inline-size;

  margin: 20px 0;
  padding: clamp(20px, 2vw, 30px) clamp(10px, 2vw, 30px);
  background-image: url("./images/service-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  border-radius: 10px;

  &__message {
    text-align: center;

    .base-text {
      color: var(--white);
    }
  }

  &__title {
    display: block;
    font-weight: 600;
    margin: 0;
    color: var(--primary);
    font-size: clamp(24px, 2.2vw, 28px);
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(16px, 2vw, 20px);

    @include container-up("service-form-container", $tablet-width) {
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  }

  .main-checkbox-wrapper {
    @include container-up("service-form-container", $tablet-width) {
      grid-column: 1/3;
    }

    label {
      &::before {
        border-color: var(--white);
      }

      span {
        color: var(--primary);
      }
    }

    &:has(input:checked) label::before {
      background-image: url("/img/check-white.svg");
      background-size: 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .main-input-wrapper {
    input {
      height: 40px;
    }

    &:has(input[type="submit"]) {
      @include container-up("service-form-container", $tablet-width) {
        width: fit-content;
        justify-self: end;
      }

      input[type="submit"] {
        padding: 5px 20px;
        background-color: var(--primary);
        box-shadow: none;
      }
    }
  }
}
