include ../../cards/base-card/base-card

.swiper.side-slider.base-cards-slider
  .swiper-wrapper
    .swiper-slide
      +base-card({
        headline: 'Действует до 31 января 2025г.',
        title: 'Имплантация “Все-на-4” по лучшей цене в Москве',
        text: 'В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез. В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез.',
        link: {
          tag: 'a',
          href: 'sales.html',
          text: 'Подробнее',
          cls: 'main-btn--outlined'
        },
        price: 'от 199 000 руб.'
      })
    .swiper-slide
      +base-card({
        headline: 'Действует до 31 января 2025г.',
        title: 'Имплантация “Все-на-4” по лучшей цене в Москве',
        text: 'В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез. В стоимость включено: диагностика, 4 имплантата + операция, хирургический набор, анестезия, временный адаптационный протез.',
        link: {
          tag: 'a',
          href: 'sales.html',
          text: 'Подробнее',
          cls: 'main-btn--outlined'
        },
      })
  
  .swiper-pagination