include ../../components/_ui/nav/top-menu/top-menu
include ../../components/_ui/controls/buttons/main-btn/main-btn
include ../../components/_ui/controls/buttons/burger-btn/burger-btn
include ../../components/blocks/info-block/info-block
include ../../components/blocks/social-block/social-block


header.header
  .container
    .header__section.header__section--top
      include ../../components/_ui/logos/main-logo/main-logo

      +info-block({
        icon: 'icon-pin',
        cls: 'info-block--address',
        items: [
        '<address>г. Санкт-Петербург. ул. Профессора Попова д. 27</address>',
        '<span class="worktime">09:00 - 21:00 ежедневно</span>',
      ]})

      +info-block({
        icon: 'icon-info',
        cls: 'info-block--contacts',
        items: [
        '<a href="mailto:info@niso-dental.ru">info@niso-dental.ru</a>',
        '<a href="tel:89817685425">8 (981) 768-54-25</a>',
      ]})

      +social-block([
        {
          icon: 'icon-tg.svg'
        },
        {
          icon: 'icon-whatsapp.svg'
        },
      ])

      +main-btn({
        tag: 'button',
        text: 'Записаться на прием',
        modal: 'callback-modal'
      })
      +burger-btn({cls: 'mobile-menu-opener'})
    .header__section.header__section--bottom.mobile-menu
      .mobile-menu__wrapper
        .mobile-menu__header
          include ../../components/_ui/logos/main-logo/main-logo
          +burger-btn({cls: 'mobile-menu-closer active'})

        +top-menu([
          { title: 'О нас', link: 'about.html'},
          { title: 'Услуги', 
            link: 'services-main.html',
            inner: [
              { title: 'Протезирование', link: '#'},
              { title: 'Хирургия', link: '#',
                inner: [
                  { title: 'Открытый синус лифтинг', link: '#'},
                  { title: 'Закрытый синус лифтинг', link: '#'},
                  { title: 'Имплантация', link: '#'},
                  { title: 'Удаление зуба + установка одномоментная имплантация', link: '#'},
                ] 
              },
              { title: 'Лечение каналов', link: '#'},
              { title: 'Отбеливание', link: '#'},
            ] 
          },
          { title: 'Примеры работ', link: 'projects.html'},
          { title: 'Врачи', link: 'staff-main.html'},
          { title: 'Акции', link: 'sale-main.html'},
          { title: 'Информация', link: 'info.html'},
          { title: 'Блог', link: 'articles-main.html'},
          { title: 'Контакты', link: 'contacts.html'},
        ])

        .mobile-menu__footer
          +info-block({
            icon: 'icon-pin',
            cls: 'info-block--address',
            items: [
            '<address>г. Санкт-Петербург. ул. Профессора Попова д. 27</address>',
            '<span class="worktime">09:00 - 21:00 ежедневно</span>',
          ]})

          +info-block({
            icon: 'icon-info',
            cls: 'info-block--contacts',
            items: [
            '<a href="mailto:info@niso-dental.ru">info@niso-dental.ru</a>',
            '<a href="tel:89817685425">8 (981) 768-54-25</a>',
          ]})

          +social-block([
            {
              icon: 'icon-tg.svg'
            },
            {
              icon: 'icon-whatsapp.svg'
            },
          ])

          +main-btn({
            text: 'Записаться на прием'
          })