@use "@scss-root/_mixins/container-queries" as *;

.aspects {
  container: aspects-container / inline-size;
  margin: 10px 0;

  &__wrapper {
    display: grid;
    gap: 20px;

    @include container-up("aspects-container", 650px) {
      grid-template-columns: repeat(2, 1fr);
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 20px;

      &:first-of-type {
        background-color: rgba(14, 206, 0, 0.1);

        li::before {
          background-image: url(/source/img/icon-checkbox-green.svg);
        }
      }

      &:last-of-type {
        background-color: rgba(231, 129, 128, 0.05);

        li::before {
          background-image: url(/source/img/icon-cross.svg);
        }
      }
    }
  }

  h3 {
    margin: 0 auto 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    &::before {
      content: "";
      max-width: 24px;
      min-width: 24px;
      height: 24px;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }
}
