/* purgecss start ignore */
@forward "@scss-root/_extends/flexbox.scss";

.content {
  @extend %flex-column;
  font-size: 16px;
  color: var(--dark);

  & > * {
    margin: 0;
  }

  img {
    height: auto;
    object-fit: contain;
    object-position: left;
  }

  strong {
    color: var(--secondary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10px 0;
  }

  & > p,
  & > span {
    margin: 8px 0;
  }

  ul {
    margin: 8px 0;
    padding-left: 30px;
  }

  & * > a {
    color: var(--warning);
    text-decoration: underline;
  }

  .table-wrapper {
    overflow: hidden;
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    font-size: clamp(16px, 2.4vw, 18px);
    width: 100%;
    min-width: 720px;

    td {
      padding: 20px 40px;

      &:not(:first-child) {
        text-align: center;
        white-space: nowrap;
      }
    }

    thead {
      color: var(--accent);
      background-color: var(--mint);

      td {
        font-weight: 600;
      }
    }

    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid var(--lighter);
        }
      }
    }
  }

  blockquote {
    position: relative;
    padding: 5px 24px;
    margin: 20px 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: var(--secondary);
      content: "";
      border-radius: 2px;
    }
  }

  .bg-rounded {
    background-color: var(--lighter);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
  }
}
/* purgecss end ignore */
