// #title-search {
//   width: 100%;
// }

// .search-form {
//   position: relative;
// }

// .search-form__input {
//   width: 100%;
//   height: 40px;
//   padding: 5px 44px;
//   font-size: 16px;
//   font-family: var(--primary-font);
//   border: 1px solid var(--light);
//   border-radius: 15px;
//   box-shadow: var(--base-box-shadow);
// }

// .search-form__input:focus {
//   outline: none;
// }

// .search-form__input::placeholder {
//   color: var(--muted);
// }

// .search-form__submit-btn {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 24px;
//   height: 24px;
//   padding: 0;
//   background-color: transparent;
//   border: none;
// }

// .search-form__submit-btn img {
//   object-fit: contain;
// }

// .search-result__modal {
//   padding: 20px;
//   background-color: var(--white);
//   border: 1px solid var(--light);
//   border-radius: 15px;
//   box-shadow: 5px 5px 20px var(--light);
//   z-index: 100;
// }

// .search-result__content {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
// }

// .search-result__content b {
//   color: var(--accent);
// }

// .search-result__list {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// .search-result__item {
//   padding: 20px 0;
//   border-bottom: 1px solid var(--muted);
// }

// .search-result__item a:hover {
//   opacity: 0.6;
// }

// .search-result__item:first-child {
//   padding-top: 0;
// }

// .search-result__item:last-child {
//   display: none;
// }

// .search-result__all {
//   margin: 0 auto;
// }
