.tag-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 8px 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary);
  border-radius: 8px;
  border: 1px solid #d4e4f4;
  transition: opacity 0.3s ease-in-out;
}

.tag:focus,
.tag:hover {
  opacity: 0.6;
}

.sidemenu ul li ul li a {
  font-weight: 400;
  color: var(--info);
}

.top-banner__title {
  max-width: 1140px;
}

p img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 640px;
}

.content .price-table {
  min-width: auto;
}

.price-table tr td {
  padding: 20px;
}

.price-table tr td:first-child {
  width: 70%;
}

.price-table tr td:last-child {
  width: 30%;
}

@container service-detail (max-width: 960px) {
  .service-detail__grid-item--sidebar {
    display: flex;
    width: 100%;
    order: 2;
  }

  .service-detail__grid-item--sidebar .sidemenu {
    display: none;
  }
}

.portfolio {
  container: portfolio-container / inline-size;
}

.portfolio .base-section__header {
  position: relative;
  padding-right: 180px;
}

.portfolio__slider-wrapper {
  margin-bottom: 20px;
}

.portfolio__slider-wrapper .swiper-wrapper {
  margin-bottom: 50px;
}

.portfolio__slider-wrapper .swiper-slide {
  width: 260px;
  height: auto;
}

@container portfolio-container (min-width: 390px) {
  .portfolio__slider-wrapper .swiper-slide {
    width: 330px;
  }
}

@container portfolio-container (min-width: 960px) {
  .portfolio__slider-wrapper .swiper-slide {
    width: 464px;
  }
}

.portfolio__slider-wrapper .swiper-pagination {
  bottom: 60px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio_show-all {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.portfolio_show-all--desktop {
  display: none;
}

@container portfolio-container (min-width: 960px) {
  .portfolio_show-all--desktop {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
  }

  .portfolio_show-all--mobile {
    display: none;
  }
}

.image-comparison {
  width: 100%;
  height: auto;
}

.portfolio-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.portfolio-card__content .main-btn {
  margin-top: auto;
}

@container portfolio-container (max-width: 642px) {
  .image-comparison__caption-body {
    font-size: 16px;
  }
}

.header__block--column-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__block--column-4 {
  display: flex;
  gap: 10px;
}

.search {
  position: absolute;
  padding: 0 var(--container-offset);
  left: 0;
  right: 0;
  top: -100px;
  background-color: var(--white);
  border-radius: 15px;

  opacity: 0;
  visibility: hidden;

  transition:
    top var(--main-transition),
    opacity var(--main-transition);
}

.search--shown {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.search__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 85px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: var(--base-box-shadow);
  box-shadow: var(--base-box-shadow);
  background-color: var(--white);
  cursor: pointer;
}

.search-btn img {
  object-fit: contain;
}

.search-btn--close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

@container header (min-width: 768px) {
  .search__wrapper {
    gap: 10px;
  }

  .search-btn--close {
    position: static;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: var(--base-box-shadow);
    box-shadow: var(--base-box-shadow);
    background-color: var(--white);
    transform: none;
  }
}

@container header (min-width: 1140px) {
  .search {
    position: revert;
    padding: 0;
    background-color: revert;
    opacity: 1;
    visibility: visible;
  }

  .search__wrapper {
    min-height: auto;
  }

  .search-btn--close {
    display: none;
  }

  .search-btn--open {
    display: none;
  }
}

.main-btn--white {
  border-color: var(--white);
  color: var(--white);
  background-color: transparent;
}

.burger-btn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
