@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/utils.scss";
@use "@styles/_mixins/text-truncate" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.base-card {
	@extend %flex-column;
	gap: 20px 30px;
	height: inherit;
	padding: clamp(12px, 2.2vw, 20px);
	border-radius: var(--border-radius-sm);
	box-shadow: var(--base-box-shadow);
	background-color: var(--white);

	&-wrapper {
		height: 100%;
		container: base-card / inline-size;
	}

	&__content {
		@extend %flex-column;
		flex-grow: 1;
		gap: 20px;

		.base-subtitle,
		.base-text {
			@include text-truncate(3);
		}
	}

	&__headline {
		font-size: 16px;
		font-weight: 400;
		color: var(--accent);
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: left;
		aspect-ratio: 2 / 1;
		border-radius: var(--border-radius-sm);
	}

	.main-btn {
		width: 100%;
		margin-top: auto;
	}

	.price-badge {
		padding: 3px 0;
		width: fit-content;
		text-align: center;
		margin-top: auto;
		border-bottom: 4px solid var(--warning);

		span {
			color: var(--primary);
			font-weight: 600;
			font-size: 20px;
		}
	}

	@include container-up("base-card", 880px) {
		flex-direction: row;
		align-items: center;

		img {
			width: 50%;
			max-width: 480;
			max-height: 240px;
		}

		.main-btn {
			width: fit-content;
		}
	}
}
