.review-card {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
}

.review-card__container {
	container: review-card/inline-size;
	height: 100%;
}

.review-card__rating {
	display: flex;
	max-width: 125px;
}

.review-card__rating-item {
	fill: var(--muted);
}

.review-card__rating-item.active {
	fill: #faba47;
}

@container review-card (min-width: 420px) {
	.review-card__rating {
		order: 2;
	}
}

.review-card__photo {
	width: 46px;
	height: 46px;
	object-fit: contain;
	border-radius: 50%;
}

.review-card__header {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@container review-card (min-width: 420px) {
	.review-card__header {
		flex-direction: row;
		justify-content: space-between;
	}
}

.review-card__author {
	display: flex;
	gap: 20px;
	max-width: 275px;
}

.review-card__info {
	display: flex;
	flex-direction: column;
}

.review-card__name {
	color: var(--dark);
	font-size: 24px;
}

.review-card__date {
	color: var(--info);
	font-size: 14px;
}

.review-card__content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.review-card__content button {
	display: flex;
	padding: 20px 0 0;
	margin-top: auto;
	font-weight: 600;
	font-size: 14px;
	background-color: transparent;
	border: none;
	color: var(--secondary);
}
