extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'portfolio-detail'
  - sectionContainerClass = ''
  - sectionHeadline = 'Наше портфолио'
  - sectionTitle = 'Лечение глубокого прикуса'
  - sectionText  = ''

block content
  include ../../components/_ui/controls/buttons/main-btn/main-btn
  .portfolio-detail__grid
 
    .portfolio-detail__grid-item
      //- include ../../components/_ui/cards/portfolio-card/portfolio-card
      include ../../components/_ui/sliders/portfolio-slider/portfolio-slider
    .portfolio-detail__grid-item
      .content
        p Пациент обратился с жалобами на потемнение эмали. Мы провели профессиональную чистку и отбеливание системой ZOOM. Вся процедура заняла 1,5 часа.
        strong Врач:
        p Иванов Иван Иванович

        strong Сроки выполнения:
        p Процедура занимает от 30 минут до 1 часа

        strong Проведенные процедуры:
        ul
          li Для коррекции мелких дефектов.
          li Если важна скорость: винир можно установить за одно посещение.
          li В случаях, когда нужна бюджетная альтернатива непрямым винирам.

        +main-btn({
          tag: 'button',
          modal: 'callback-modal',
          text: 'Записаться на прием'
        })




    
      