.news {
	container: news/inline-size;
}
.news__header {
	margin-bottom: 40px;
}
.news__grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
}
@container news (min-width: 534px ) {
	.news__grid--2cols {
		grid-template-columns: repeat(2, 1fr);
	}
}
@container news (min-width: 534px ) {
	.news__grid--3cols {
		grid-template-columns: repeat(2, 1fr);
	}
}
@container news (min-width: 960px ) {
	.news__grid--3cols {
		grid-template-columns: repeat(3, 1fr);
	}
}
@container news (min-width: 534px ) {
	.news__grid--4cols {
		grid-template-columns: repeat(2, 1fr);
	}
}
@container news (min-width: 960px ) {
	.news__grid--4cols {
		grid-template-columns: repeat(3, 1fr);
	}
}
@container news (min-width: 1440px ) {
	.news__grid--4cols {
		grid-template-columns: repeat(4, 1fr);
	}
}
