.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__list-item
        a(href="/")
          span Главная&nbsp;
      li.breadcrumbs__list-item
        a(href="catalog-section.html")
          span -&nbsp;Специальные предложения&nbsp;
      li.breadcrumbs__list-item
        span -&nbsp;Имплантация по лучшей цене

