.contacts {
}

iframe {
	display: flex;
	max-height: 440px;
}

.contacts__content {
	width: 100%;
	margin: 0 auto;
}

.contacts__content-field {
	display: flex;
	flex-direction: column;
	gap: 4px;
	flex: 0 0 25%;
	align-items: center;
	text-align: center;
}

/* .section:has(:not(.section-header.--align-center)) .contacts__content-field {
	align-items: flex-start;
	text-align: left;
} */

.contacts__content-field-title {
	font-style: 18px;
	font-weight: 500;
	color: var(--primary-color);
}

.contacts__content-field a {
	display: flex;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: var(--dark-color);
	transition: opacity var(--main-transition);
	white-space: nowrap;
}

.contacts__content-field a:hover,
.contacts__content-field a:focus {
	opacity: 0.6;
}

.contacts__content-field address {
	font-style: normal;
}

.contacts__content-field.contacts__content-field--social {
	grid-column: -1/1;
	order: 5;
}

.contacts__content-field:has(address) {
	order: 3;
}

.contacts .grid {
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
}

.contacts .contacts__content {
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
}

@media (min-width: 768px) {
	.contacts .contacts__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.contacts.--row .grid {
		display: grid;
		grid-template-columns: 3fr 7fr;
	}

	.contacts.--row .contacts__content iframe {
		height: 100%;
		max-height: 100%;
	}

	.contacts.--row .contacts__content-field {
		flex: revert;

		align-items: flex-start;
		text-align: left;
	}

	.contacts.--row .contacts__content {
		display: flex;
		flex-direction: column;

		gap: var(--grid-gap);
	}
}
