.top-banner {
  height: 100%;
  position: relative;
  padding: 40px clamp(10px, 3vw, 40px) 20px;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(-54.9%, #44c6e9),
    to(#336cbc)
  );
  background: linear-gradient(270deg, #44c6e9 -54.9%, #336cbc 100%);

  background-repeat: no-repeat;
  background-position: top right;
}

/* .top-banner::after {
  position: absolute;
  top: 50%;
  right: calc(-40px - clamp(10px, 3vw, 40px));
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 100%;
  max-width: 360px;
  height: calc(100% - 40px);
  background: url("../../../../../../frontend/src/assets/img/top-banner-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
} */

.swiper.top-banner-slider {
  position: relative;
  height: 100%;
  padding-bottom: 60px;
}
@container main (min-width: 480px ) {
  .swiper.top-banner-slider {
    padding-bottom: 0;
  }
}

.swiper.top-banner-slider .swiper-slide {
  width: 100% !important;
  height: auto;
  border-radius: var(--border-radius-lg);
  color: var(--white);
  overflow: hidden;
}
.swiper.top-banner-slider .swiper-navigation {
  z-index: 11;
}
@container main (min-width: 480px ) {
  .swiper.top-banner-slider .swiper-navigation {
    position: absolute;
    bottom: 44px;
    right: clamp(10px, 3vw, 40px);
  }
}
.swiper.top-banner-slider .swiper-navigation .swiper-button {
  border: 1px solid var(--primary);
  background-color: #d4e4f4;
}
.swiper.top-banner-slider .swiper-navigation .swiper-button svg {
  fill: var(--primary);
}
@container main (min-width: 480px ) {
  .top-banner {
    padding: 40px clamp(10px, 3vw, 40px);
  }
}

.top-banner .content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-banner * {
  margin: 0;
}

.top-banner .top-banner__title {
  line-height: 1.5;
}

.top-banner .top-banner__title,
.top-banner .top-banner__text,
.top-banner .top-banner__headline {
  margin: 0;
  color: var(--white);
}
.top-banner-wrapper {
  height: 100%;
  container: top-banner/inline-size;
}
.top-banner .main-btn {
  margin-top: auto;
  width: 100%;
}
@container main (min-width: 480px ) {
  .top-banner .main-btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@container main (min-width: 768px ) {
  .top-banner__title,
  .top-banner__text {
    margin-bottom: 20px;
  }
}

.top-banner__content-img {
  position: absolute;
  top: 0;
  right: 0;
}

.top-banner__text {
  width: 100%;
  max-width: 760px;
}

.top-banner__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  z-index: 2;
}

.--overlay-light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(245, 245, 245, 0.4);
}

.--overlay-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.4);
}

.--overlay-blured::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
}
