extends ../../layouts/base-section/base-section.pug
block variables
  - sectionClass = 'services-preview'
  - sectionContainerClass = ''
  - sectionHeadline = 'Как мы можем помочь'
  - sectionTitle = 'Популярные услуги'
  - sectionText  = ''
block content
  include ../../components/_ui/cards/service-preview-card/service-preview-card
  .services-preview__grid.grid-2cols
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-1',
        title: 'Ортодонтия',
        text: 'Занимается выявлением, лечением и профилактикой аномалий зубочелюстного аппарата, фокусируется на исправлении неправильного прикуса и выравнивании зубов.',
        list: [
          { title: 'Установка брекет систем'},
          { title: 'Элайнеры'},
          { title: 'Детские пластинки'},
          { title: 'Ортодонтические аппараты'}
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-2',
        title: 'Протезирование',
        text: 'Восстановление утраченных или поврежденных зубов с помощью протезов, таких как коронки, мосты, съемные протезы и имплантаты, для улучшения функции и эстетики.',
        list: [
          { title: 'Циркониевые коронки'},
          { title: 'Коронки из металлокерамики'},
          { title: 'Коронки на имплантатах'},
          { title: 'Виниры'},
          { title: 'Съемные протезы'},
          { title: 'Несъемные протезы'},
          { title: 'Композитные виниры'},
          { title: 'E.MAX'},
          { title: 'Частичные съемные протезы'},
          { title: 'Бюгельное протезирование'}
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-3',
        title: 'Хирургия',
        text: 'Процедуры в полости рта, на челюстях и прилегающих тканях, такие как удаление зубов, установка имплантатов, коррекция челюстных дуг и лечение заболеваний пародонта.',
        list: [
          { title: 'Открытый синус лифтинг'},
          { title: 'Закрытый синус лифтинг'},
          { title: 'Имплантация'},
          { title: 'Имплантация all on 4'},
          { title: 'Имплантация all on 6' },
          { title: 'Удаление зуба' },
          { title: 'Удаление ретенированного зуба' },
          { title: 'Удаление зуба + установка одномоментная имплантация' },
          { title: 'Костная пластика' }
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-4',
        title: 'Лечение каналов',
        text: 'Процедура, устарняющая воспаления внутри зуба путем очистки, дезинфекции и пломбирования корневых каналов, чтобы сохранить зуб и предотвратить удаление.',
        list: [
          { title: 'Эндодонтическое лечение зубов'},
          { title: 'Лечение пульпита'},
          { title: 'Лечение периодонтита'},
          { title: 'Киста зуба'},
          { title: 'Лечение кисты зуба'},
          { title: 'Гранулема зуба'},
          { title: 'Абсцесс зуба'}
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-5',
        title: 'Терапия',
        text: 'Нехирургическое лечение зубов, восстановление их здоровья и состояния. Включает лечение кариеса, пульпита, периодонтита, а также процедуры по реконструкции зубов.',
        list: [
          { title: 'Эстетическая реставрация зубов' },
          { title: 'Лечение глубокого кариеса' },
          { title: 'Стираемость зубов' },
          { title: 'Наращивание зубов' },
          { title: 'Установка пломбы на зуб' },
          { title: 'Световая пломба' },
          { title: 'Санация полости рта' },
          { title: 'Герметизация фиссур' },
          { title: 'Лечение поверхностного, пришеечного, среднего кариеса' },
          { title: 'Лечение кариеса методом ICON без сверления' },
          { title: 'Кариес между зубами' }
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-6',
        title: 'Отбеливание',
        text: 'Процедура осветления зубов путем удаления пятен и разрушения окрашивающих пигментов с использованием отбеливающих гелей и растворов, часто содержащих перекись водорода или карбамидпероксид.',
        list: [
          { title: 'Отбеливание зубов'},
          { title: 'Отбеливание Opalescence'},
          { title: 'Отбеливание Amazing White'}
        ]
      })
    .services-preview__grid-item 
      +service-preview-card({
        icon: 'services-preview-img-7',
        title: 'Гигиена',
        text: 'Комплекс профилактических мероприятий, направленных на оздоровление органов и тканей полости рта, предотвращение заболеваний зубов и десен, а также поддержание чистоты и здоровья полости рта.',
        list: [
          { title: 'Профессиональная чистка зубов' },
          { title: 'Удаление черного зубного налета' },
          { title: 'Отбеливание и чистка зубов Air Flow' },
          { title: 'Удаление зубного камня' },
          { title: 'Снятие зубного камня ультразвуком' },
          { title: 'Пятна на зубах' }
        ]
      })
  